title{
  color:  #66BFBF;
}
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 100%
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: normal;
  font-size: 5.625rem;
  color:  #66BFBF;
}

h2{
  font-size: 2.5rem;
  color:  #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:  #11999E;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6;
  border-bottom: none;
  width:20%;

}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
  text-decoration: none;

}
.copyright{
  color: #EAF6F6;
  padding: 20px 0;
  font-size: 0.75rem;
}



.top-container {
  background-color: #ddf3f5;
  position: relative;
  padding-top: 100px;
  color: #66BFBF;
}
.bottom-container{
  background-color: #66BFBF;
  padding:50px 0 20px;
}




.pro {
  text-decoration: underline;
}

.intro{
  width: 30%;
  margin:auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.footer-link{
  background-color:  #11999E;
  color:   #66BFBF;
}
.skill-row{
  width :50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.computer{
  width: 25%;
  float:left;
  margin-right: 30px;
}
.challenge{
  width: 25%;
  float:right;
  margin-left: 30px;
}
.contact-message{
  width: 40%;
  margin:40px auto 60px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}
